<template>
  <div class="home">
    <div id="nav">
      <router-link :to="{ name: 'Calculation'}">Calculate</router-link>
      <router-link v-if="this.$store.state.token == '' " :to="{ name: 'Register'}">Register</router-link>
      <router-link v-if="this.$store.state.token == '' " :to="{ name: 'Login'}">Login</router-link>
    </div>

    <router-view />
  </div>
</template>

<script>

export default {
  name: "Home"
};
</script>

<style>
.home {
  text-align: center;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
