<template>
  <div class="main">
    <h2>Printing Calculator</h2>
    <div class="nav">
      <Navbar v-for="nav_item in nav_items" :key="nav_item.id" :nav_item="nav_item"/>
    </div>
  </div>
  <router-view />
</template>
<script>

import Navbar from "@/components/Navbar.vue";

export default {
  name: "SuperAdmin",
  components: {
    Navbar
  },
  data() {
    return {
      nav_items: [
        {id: 1, name:'UserInfo', item: 'User Info'},
        {id: 2, name:'MeasurementInfo', item: 'Measurement Info'},
        {id: 3, name:'OrderInfo', item: 'Order Info'}
      ]
    }
  }
};
</script>

<style scoped>
.main {
  display: flex;
  flex-direction: row;
}
.nav{
  height: 100vh;
  width: 25vw;
  position: absolute;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}
</style>
