<template>
  <div class="main">
    <h2>Printing Calculator</h2>
    <div class="nav">
      <Navbar v-for="nav_item in nav_items" :key="nav_item.id" :nav_item="nav_item"/>
    </div>
  </div>
  <router-view />
</template>
<script>

import Navbar from "@/components/Navbar.vue";

export default {
  name: "User",
  components: {
    Navbar
  },
  data() {
    return {
      nav_items: [
        {id: 1, name:'PlaceOrder', item: 'Place Order'},
        {id: 2, name:'ViewOrder', item: 'View Order'}
      ]
    }
  }
};
</script>

<style scooped>
.main {
  display: flex;
  flex-direction: row;
}
.nav{
  height: 100vh;
  width: 25vw;
  position: absolute;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}
</style>
