<template>
  <div class="login">
    <h1>Login</h1>
    <form class="form" @submit.prevent="onLogin">
        <input id="username" placeholder="Username" v-model="username"><br>
        <input type="password" id="password" placeholder="Password" v-model="password"><br>
        <input class="button" type="submit" value="Login"><br>
        <router-link to="/register">Create New Account</router-link>
      </form>
  </div>
</template>
<script>
import ApiService from "@/services/ApiService.js";
export default {
  name: "Login",
  data(){
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    onLogin() {
      this.$emit('toggle')
      if(this.username === '' || this.password === ''){
        alert('Fill out all the fields')
        return
      }
      ApiService.postLogin(this.username,this.password)
      .then(response => {
        console.log(response)
        if(response.status === 200){
          this.$store.state.token = response.data.token
          if(response.data.is_admin === false && response.data.is_superadmin === false){
              this.$router.push({name: 'User'})
          }
          else if (response.data.is_superadmin === true) {
            this.$router.push({name: 'SuperAdmin'})
          }
          else
            console.log('not a user')
        }
      })
      .catch(error => {
        console.log(error);
      })
      this.username = ''
      this.password = ''
      }
    }
}
</script>
