<template>
  <div class="measureinfo">
    <h1>Measurement Info</h1>
    <table>
      <tr>
        <th>Type</th>
        <th>Unit</th>
        <th>Unit-Cost</th>
      </tr>
      <tr v-for="item in measurement_types" :key="item.id">
        <td>{{item.type}}</td>
        <td>{{item.unit}}</td>
        <td>{{item.unit_cost}}</td>
      </tr>
    </table>
  </div>
</template>

<script>
import ApiService from "@/services/ApiService.js";
export default {
  name: "MeasurementInfo",
  data(){
    return {
      measurement_types: null
    }
  },
  created(){
    let user_token = this.$store.state.token
    ApiService.getMeasurement(user_token)
    .then(response => {
      console.log(response.data)
      this.measurement_types = response.data.measurement_types
    })
    .catch(error => {
      console.log(error)
    })
  }
}
</script>

<style scoped>
.measureinfo {
  margin-left: 30vw;
}
</style>
