<template>
    <router-link class="nav-link" :to="{ name: nav_item.name, params: { id: nav_item.id } }">
      <div class="nav-item">
        <h4>{{ nav_item.item }}</h4>
      </div>
    </router-link>

</template>

<script>
export default {
  name: "Navbar",
  props: {
    nav_item: {
      type: Object,
      required: true
    }
  }
};
</script>

<style scoped>
.nav-link {
  text-decoration: none;
  color: #2c3e50;
}
.nav a:hover {
  font-size: 1.2em;
}
.nav a.router-link-exact-active {
    color: #42b983;
}
</style>
