<template>
  <div class="orderinfo">
    <h1>Order Info</h1>
  </div>
</template>

<script>
// import ApiService from "@/services/ApiService.js";
export default {
  name: "OrderInfo"
}
</script>

<style scoped>
.orderinfo {
  margin-left: 30vw;
}
</style>
