<template>
  <div class="order">
    <h1>Place Order</h1>
    <form class="form" @submit.prevent="onOrder">
      <input id="name" placeholder="Type" v-model="type"><br>
      <input id="length" placeholder="Measure-Length" v-model="measure_length"><br>
      <input id="width" placeholder="Measure-Width" v-model="measure_width"><br>
      <input id="unit" placeholder="Measure-Unit" v-model="measure_unit"><br>
      <input id="color" placeholder="Color" v-model="color"><br>
      <input id="file" placeholder="File" v-model="file"><br>
      <input class="button" type="submit" value="Order">
    </form>
  </div>
</template>

<script>
import ApiService from "@/services/ApiService.js";
export default {
  name: "PlaceOrder",
  data() {
    return {
      type: '',
      measure_length: '',
      measure_width: '',
      measure_unit: '',
      color: '',
      file: ''
    }
  },
  methods: {
    onOrder() {
      let data = {
        type: this.type,
        measure_length: this.measure_length,
        measure_width: this.measure_width,
        measure_unit: this.measure_unit,
        color: this.color,
        file: this.file,
      }
      ApiService.postCalculation(JSON.stringify(data))
      .then(response => {
        console.log(response.data)
      })
      .catch(error => {
        console.log(error)
      })
      this.type = ''
      this.measure_length = ''
      this.measure_width = ''
      this.measure_unit = ''
      this.color = ''
      this.file = ''
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.order {
  margin-left: 30vw;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
