<template>
  <div class="register">
    <h1>Registration</h1>
    <form class="form" @submit.prevent="onRegister">
        <input id="name" placeholder="Name" v-model="name"><br>
        <input id="email" placeholder="Email" v-model="email"><br>
        <input id="address" placeholder="Address" v-model="address"><br>
        <input id="username" placeholder="Username" v-model="username"><br>
        <input id="password" type="password" placeholder="Password" v-model="password"><br>
        <input id="c_password" type="password" placeholder="Confirm Password" v-model="c_password"><br>
        <input class="button" type="submit" value="Register">
      </form>
  </div>
</template>
<script>
import ApiService from "@/services/ApiService.js";
export default {
  name: "Register",
  data(){
    return {
      name: '',
      email: '',
      address: '',
      username: '',
      password: '',
      c_password: ''
    }
  },
  methods: {
    onRegister() {
      if(this.name === '' || this.email === ''|| this.address === '' || this.username === '' || this.password === '' || this.c_password === ''){
        alert('Fill out all the fields')
        return
      }
      let userInfo = {
        name: this.name,
        email: this.email,
        address: this.address,
        username: this.username,
        password: this.password,
        c_password: this.c_password,
      }
      ApiService.postUser(JSON.stringify(userInfo))
      .then(response => {
        console.log(response.data.user)
        alert('You are registered under '+response.data.user[0].email+' and Your username is '+response.data.user[0].username)
      })
      .catch(error => {
        console.log(error)
      })
      this.name = ''
      this.email = ''
      this.address = ''
      this.username = ''
      this.password = ''
      this.c_password = ''
    }
  }
}
</script>
