<template>
  <div class="userinfo">
    <h1>Users</h1>
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
      </tr>
      <tr v-for="user in users" :key="user.id">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.address}}</td>
      </tr>
    </table>
  </div>
</template>

<script>
import ApiService from "@/services/ApiService.js";
export default {
  name: "UserInfo",
  data(){
    return {
      users: null
    }
  },
  created(){
    let user_token = this.$store.state.token
    ApiService.getUser(user_token)
    .then(response => {
      console.log(response.data)
      this.users = response.data.users
    })
    .catch(error => {
      console.log(error)
    })
  }
}
</script>

<style scoped>
.userinfo {
  margin-left: 30vw;
}
</style>
