<template>
  <div class="vieworder">
    <h1>View Order</h1>
  </div>
</template>

<script>
// import ApiService from "@/services/ApiService.js";
export default {
  name: "ViewOrder",
  // created(){
  //
  // }
}
</script>

<style scoped>
.vieworder {
  margin-left: 30vw;
}
</style>
